{{ define "main" }}

<!-- blog post -->
<section class="section-sm ">
    <div class="container">
        <div class="row pb-3">
            <div class="col-12">
                <h2>Help us save lives</h2>
                <div class="text-justify">
                    <p>
                        For patients suffering the worst symptoms of COVID-19, the only hope for survival may be a medical
                        ventilator. As future COVID-19 outbreaks continue to occur, people in low/medium income regions will be
                        hurt the worst due to lack of ventilators. Please help us build reliable, affordable breathing
                        machines that we can put into the hands of people who need them.
                    </p>
                    <p>                    Project Red has applied for 501(c)(3) charitable non-profit status and our application is pending
                        with the IRS. Please consult with your tax adviser regarding tax-deductibility of any donations.
                        Thank you.
                    </p>
                </div>
            </div>
        </div>
        <div class="row pt-5 pb-4">
            <div class="col-6 text-center">
                <a href="https://www.gofundme.com/f/respiratory-emergency-device-red-ventilator" target="_blank"
                    >
                    <img class="img-fluid donate-logo-width" src="/images/gfm_logo.jpg" />
                </a>
                <p>Donate to our <a href="https://www.gofundme.com/f/respiratory-emergency-device-red-ventilator"
                        target="_blank">GoFundMe page</a>.</p>
            </div>
            <div class="col-6 text-center">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                    <input type="hidden" name="cmd" value="_s-xclick" />
                    <input type="hidden" name="hosted_button_id" value="4XCWT7UND8L4Y" />
                    <input class="img-fluid donate-logo-width" type="image" src="/images/paypal-donate-button.png" border="0"
                        name="submit" title="PayPal - The safer, easier way to pay online!"
                        alt="Donate with PayPal button" />
                    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                </form>
                <p>Donate via PayPal.</p>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-12">
                <h4>
                    Project RED relies on the support of generous donors to advance our mission.  Thank you for your support!
                </h4>
                <p>If you wish to donate by check, or an amount larger than $1000, please <a href="/contact">contact us</a> directly.</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <span class="h-25 d-inline-block align-middle"></span>

    </div>
    </div>
    </div>
    <div style="height:38vh;">
    </div>
</section>
<!-- /blog post -->

{{ end }}