{{ define "main" }}

<!-- blog post -->
<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h2>Help us save lives</h1>
                    <p>
                        Please help us, help others. Demand for ventilators will go up in the next couple of months and
                        we need your help is satisfying that demand.
                        <br><br>
                        Help us by donating through our <a
                            href="https://www.gofundme.com/f/respiratory-emergency-device-red-ventilator"
                            target="_blank" rel="noreferrer">GoFundMe page</a>.
                        <br><br>
                        Project RED is a non-profit organization fuction by the contributions of supports.
                    </p>
            </div>
            <div class="col-4">
                <span class="h-25 d-inline-block align-middle"></span>
                <a href="https://www.gofundme.com/f/respiratory-emergency-device-red-ventilator" target="_blank"
                    rel="noreferrer">
                    <img class="img-fluid" src="/images/gfm_logo.jpg" />
                </a>
            </div>
        </div>
    </div>
    <div style="height:38vh;">
    </div>
</section>
<!-- /blog post -->

{{ end }}