{{ define "main" }}

<!-- blog post -->
<section class="section-sm">
    <div class="container">
    <h2>Help us save lives</h1>
    <p>
    Please help us, help others. Demand for ventilators will go up in the next couple of months and we need your help is satisfying that demand.
        <br><br>
    Help us by donating through our <a href="https://www.gofundme.com/f/respiratory-emergency-device-red-ventilator" target="_blank" rel="noreferrer">GoFundMe page</a>.
    <br><br>
    Project RED is a non-profit organization fuction by the contributions of supports.
    </p>
</div>
</section>
<!-- /blog post -->

{{ end }}