.font-size-25 {
    font-size: 25px;
}

.font-size-17 {
    font-size: 17px;
}

.home-page-title {
    font-size: 30px !important;
    color: black !important;
}

.home-page-image {
    width: 32em;
}