.font-size-25 {
    font-size: 25px;
}

.font-size-17 {
    font-size: 17px;
}

.home-page-title {
    font-size: 30px !important;
    color: black !important;
}

.home-page-image {
    width: 32em;
}

.bg-footer {
    background-color: #D3D3D3;
    border-top: #808080;
    border-top-width: 3px;
}

.avatar-container {
    width: 200px;
}