.font-size-25 {
    font-size: 25px;
}

.font-size-23 {
    font-size: 23px;
}

.font-size-17 {
    font-size: 17px;
}

.header-font-size {
    font-size: 20px;
}

.home-page-title {
    font-size: 30px !important;
    color: black !important;
}

.home-page-image {
    width: 32em;
}

.bg-footer {
    background-color: #D3D3D3;
    border-top: #808080;
    border-top-width: 3px;
}

.avatar-container {
    width: 200px;
}

.footer-font-size {
    font-size: 19px;
}

.footer-logo-size {
    height: 65px;
    width: 65px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-30 {
    padding-top: 30px;
}

.header-logo-scale {
    width: 94%;
}