{{ define "main" }}

<section class="pt-4">
    <div class="container">
        <div class="row pb-3">
            <div class="col-12">
              <h2>Partners</h2>
            </div>
          </div>
          <div class="row pb-3">
              <div class="col-12">
                  <p>Project RED is grateful for all the support it gets from our partners.</p>
              </div>
          </div>
        {{ range .Pages}}
        <div class="row pb-5">
            <div class="col-4">
                    <a href="{{ .Params.Link }}" target="_blank">
                        <img src="{{ .Params.Image | absURL }}" class="rounded img-fluid center-img"
                            alt="{{ .Title | markdownify }}"/>
                        </a>
            </div>
            <div class="col-8">
                <h5 class="card-title">
                    {{ .Params.Name | markdownify }}
                </h2>
                <p class="card-text text-justify">{{ .Content }}</p>
            </div>
        </div>
        {{ end }}
    </div>
    </div>
    <div style="height: 44vh;">

    </div>
</section>

{{ end }}